<h2>Detail Page</h2>
<hr>
<h3>Country: <%= countryName %></h3>



<!-- <% if (countryName) { %>
    <h2>Book title: <%= countryName %></h2>
  <% } else { %>
    <h2>Please enter a countryName</h2>
  <% } %> -->
<% if (result) { %>
    <li>Capital: <%= result.capital %>
    <li>Population(in mil): <%= result.populationInMil %>
    <li>Language: <%= result.language %>
<% } else { %>
    not found
<% } %>
