<h2>Home</h2>
<hr>
<h3>Countries</h3>

<!-- <% if (countries) { %>
    <li>Country: <%= countries.countrName %>
    <li>Capital: <%= countries.capital %>
    <li>Population: <%= countries.populationInMil %>
    <li>Language: <%= countries.language %>
<% } else { %>
    not found
<% } %> -->

<% countries.forEach(function(country) { %> 
    <li><a href="/detail?countryName=<%= country.countryName %>"> <%= country.countryName %></li>
<% }); %>